<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>github</id>
            <username>acrylic-style</username>
            <password>{ztoYpgaJC6QHwjgtJHmmBkobVbiEgW6HVLun2x2nImsOhpEXOUpkccw4MLiylUj0rT04UFU6Mdoy6KZaoQ9jWQ==}</password>
        </server>
    </servers>
</settings>